In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/Unicorn_Companies_clean2.csv")

In [5]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count,YearJoined
0,0,0,0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial Intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,28,2017
1,1,1,1,SpaceX,100.3,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,29,2012
2,2,2,2,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,39,2014
3,3,3,3,Klarna,45.6,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,56,2011
4,4,4,4,Epic Games,42.0,2018-10-26,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,25,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,1015,1032,1032,Timescale,1.0,2022-02-22,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,7,2022
1016,1016,1033,1033,Scalapay,1.0,2022-02-23,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,10,2022
1017,1017,1034,1034,Omada Health,1.0,2022-02-23,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,30,2022
1018,1018,1035,1035,BlueVoyant,1.0,2022-02-23,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,6,2022
1019,1019,1036,1036,Veev,1.0,2022-02-24,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,11,2022

In [19]:
df.groupby(["Country", "Industry"], as_index=False).sum()[]

,Country,Industry,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Valuation ($B),YearJoined
0,Argentina,Fintech,331,335,335,2.45,2021
1,Australia,E-commerce & direct-to-consumer,986,1002,1002,1.00,2021
2,Australia,Fintech,127,128,128,5.50,2019
3,Australia,Internet software & services,1979,2002,2002,44.10,8081
4,Austria,Edtech,223,225,225,3.50,2021
...,...,...,...,...,...,...,...
179,United States,Other,14018,14162,14162,202.35,56557
180,United States,"Supply chain, logistics, & delivery",10637,10753,10753,78.65,40399
181,United States,Travel,82,83,83,7.25,2018
182,Vietnam,Fintech,355,359,359,2.27,2021
183,Vietnam,Internet software & services,280,282,282,3.00,2021